.blog-page {
    width: 100%;
    height: 230px;
    background-image: url(../images/team.png);
    background-size: 100% 440px;
    background-repeat: no-repeat;
    background-position: center left ;
    position: relative;
    color: #fff;
    display: flex;
align-items: center;}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
}
.our-clients{
    background-color: #F4F4F4;
}